/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.fanout-rule-container {
	border: 1px solid var(--background-modifier-border);
	border-radius: 8px;
	padding: 12px;
	margin-bottom: 12px;
}
